 * {
          margin: 0;
          padding: 0;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
          margin: 0 9rem;
}

header {
          display: flex;
          justify-content: space-between;
}

.nav-links ul {
          display: flex;
          justify-content: space-between;
          gap: 4em;
}