.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px double black;
  border-radius: 3.125rem;
  background-color: aliceblue;
  padding: 1.875rem;
}
.display {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.722);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
  margin: 1.25rem;
}
.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  margin: 5px;
  min-width: 0.75rem;
  border: none;
  border-radius: 0.325rem;
  cursor: pointer;
  color: aliceblue;
  transition: background-color 0.5s ease;
}
.start-btn {
  background-color: hsl(120, 95%, 42%);
}
.start-btn:hover {
  background-color: hsl(120, 95%, 30%);
}
.stop-btn {
  background-color: hsla(0, 95%, 52%, 0.748);
}
.stop-btn:hover {
  background-color: hsl(0, 95%, 40%);
}
.reset-btn {
  background-color: hsla(240, 95%, 42%, 0.659);
}
.reset-btn:hover {
  background-color: hsl(240, 95%, 30%);
}
