<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <link rel="stylesheet" href="/static/css/style.css">
          <title>Document</title>
</head>
<body>
        <div class="wrapper">
          <header>
                    <div class="logo">
                              <h2>Emma</h2>
                    </div>

                    <div class="nav-links">
                              <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Services</a></li>
                              </ul>
                    </div>
          </header>
          
          <main>
                    <h1>you stupid</h1>
                    <ol>
                              <li>yes</li>
                              <li>no</li>
                    </ol>
          </main>
        </div> 
</body>
</html>