.generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.generator input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
}
.generator input:focus,
.generator button:focus {
  outline: none;
  border-color: #999dedaa;
  box-shadow: 0 0 5px #999dedaa;
}
.generator input:hover {
  outline: none;
  border-color: #999dedaa;
  box-shadow: 0 0 5px #999dedaa;
}
.generator img {
  margin-top: 1rem;
  width: 200px;
  height: 200px;
}
.generator button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.6rem;
  margin: 0.66rem;
}
